h1{
    font-family: serif;
    color:darkblue;
    text-align:  center;
    text-decoration-line: underline;
}
body{
    background-color: #faf5fb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #7913cc
}


img {
    width: 100%;
    height: 75px;
    background-size: contain;

}
/*from Bootstrap examples*/
.btn-primary{
    --bs-btn-bg: #b56df0;
    --bs-btn-border-color: #a643f7;
    --bs-btn-hover-bg: #7913cc;
    --bs-btn-hover-border-color: #a643f7;
}

/*from Bootstrap navbar documentation*/
.nav{
    --bs-link-color: #a643f7;
    --bs-link-hover-color: #a643f7;
}

/*CSS from heroes documentation*/
.b-example-divider {
    height: 3rem;
    background-color: #f8ebfa;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em #e4d0e7, inset 0 .125em .5em #e4d0e7;
  }


/*from w3schools lists*/
ul.list-unstyled{
    display: inline-block;
    text-align: left;
}

div.container{
    text-align: center;
}